div.conteiner{
    background-color: rgb(6, 62, 153);
    display: flex;
    flex-flow: row wrap;

}

div.item{
    background-color: rgb(35, 190, 228);
    border: solid black 1px;
    text-align: center;

    padding: 10px;
    flex-basis: 200px;
}

div#cx1{
    flex: 1 0 200px;
}
div#cx2{
    flex: 1 1 100px;
}
div#cx3{
    flex: 0 1 100px;
}
