h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
body{
    font-family: "Playwrite RO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #aec3b0;
    }
