@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: var(--titulofont);
}
:root{
    --banner:url(img/banner2.jpg);
    --titulofont:"Cinzel",'Courier New', Courier, monospace;
    --geralfont:"PT Sans", sans-serif;
}

#filtro{
    background: linear-gradient(to top, black, rgba(36, 36, 36, 0.291) );
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    height: 30vh;
    width: 100%;
    text-align: center;
}

#imagem{
    background-image: var(--banner);
    background-size: cover;
    background-position: right 50% bottom 60%;
    width:100%;
}

#titulo{
    padding-top: 15px;
    font-size: 25px;
}
h2{
    margin: 10px;
}
#menu{
    background-color: rgba(0, 0, 0, 0.657);
    height: 35px;
    text-align: center;
    margin-bottom: 8px;
    vertical-align: middle;
    box-shadow: 10px 10px 10px 10px black;
}
#menu a{
    text-decoration: none;
    padding: 8px;
    font-size: small;
    margin: 0px 5px;
    color: #fff;
    border: 1px outset white ;
    border-radius: 10px;
}

#menu a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 10px;
}

body{
    background: linear-gradient(to top,rgba(45, 45, 45, 0.862), rgb(0, 0, 0) );;
}

main p{
    padding: 8px;
    font-family: var(--geralfont);
    font-size: 1.1em;
}

#info{
    background-color:#fff;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    min-width:280px;
    max-width: 950px;
    padding: 30px 40px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.205);
}

.integrante > figure > img{
    max-width:200px;
    border-radius: 11px;
}
.integrante figcaption{
    font-weight: bold;
}

.integrante{
    display: flex;
    align-items: center;
    gap: 5px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.579));
    margin-top: 10px;
    padding: 10px; 
    border-radius: 10px;
    color: #fff;
    box-shadow:1px 0px 5px 1px rgba(0, 0, 0, 0.332);
}

.discografia img{
    max-width: 100%;  
}

.discografia {
    display: flex;
    gap: 20px;
    font-size: 12px;
}

#video{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#video > video{
    display: block;
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    margin: auto;
}

footer{
    margin: auto;
    text-align: center;

}
