@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    background-color: cornsilk;
}

div{
    background-color: antiquewhite;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}