*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

main{
    background-color: black;
    width: 100vw;
    height:  100vh;


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section{
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 200px;
    padding: 15px;
}