*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width:100vw ;
}

a{
    display: block;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
    text-align: center;
    text-decoration: none;
    color: white;
    
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    height: 18px;
    padding: 10px;
    
}