.Lindinha{
    background-color: lightblue;
    border-radius: 35px;
    text-align: left;    
}
.Florzinha{
    background-color: lightpink;
    border-radius: 35px;
    text-align: left;   
}
.Docinho{
    background-color: lightgreen;
    border-radius: 35px;
    text-align: left;
}
body{
    text-align: center;
    background-color:khaki;
}