@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}